@import "tailwindcss";
:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir.woff2') format('woff2'), url('./assets/fonts/Vazir.woff') format('woff'), url('./assets/fonts/Vazir.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir-bold.woff2') format('woff2'), url('./assets/fonts/Vazir-bold.woff') format('woff'), url('./assets/fonts/Vazir-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Vazir', sans-serif;
}